* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: black;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
    background: rgba(87, 87, 87, 0.422);
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 0 0 10px;
}